:root {
  font-family: "League Spartan" ,system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: normal;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(29, 22, 22);
  background-color: rgb(255, 245, 228);
  scroll-behavior: auto;
  font-synthesis: none;
  font-optical-sizing: auto;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  box-sizing: border-box;

}

*, *:after, *:before {
  box-sizing: inherit;
  padding: unset;
  margin: unset;
}

body {
  min-width: 320px;
  min-height: 100dvh;
}
li, a, button {
  font-family: inherit;
}


li {
  list-style: none;
}
a{
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
button {
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
img{
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}
.light-txt{
  line-height: 1.5;
  color: rgb(112, 81, 56);
}